# Server Configuration
PORT=3000
NODE_ENV=development
API_PREFIX=api/v1

# Database Configuration (PostgreSQL / TypeORM)
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=pol_management_db
DB_SYNCHRONIZE=true
DB_LOGGING=true
DB_SSL=false
